- 
    var recentlyViewed = [
        {
            img: `${pathContentImg}book-istrebitel-big.jpg`,
            width: "275",
            height: "320",
            author: "Быков Д.",
            name: "Истребитель",
            description: "Роман о советских летчиках, &quot;соколах Сталина&quot;",
            stars: "3.9",
            link: "#",
            pages: "576"
        },
        {
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            width: "275",
            height: "320",
            author: "Санд И.",
            name: "Чувство стыда",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            stars: "4.1",
            link: "#",
            pages: "170"
        },
        {
            img: `${pathContentImg}book-second-life-big.jpg`,
            width: "275",
            height: "320",
            author: "Бакман Ф.",
            name: "Вторая жизнь Уве",
            description: "Откуда берутся зануды и склочники? Внутри зреет обида на мир",
            stars: "4.4",
            link: "#",
            pages: "384"
        },
        {
            img: `${pathContentImg}book-transhumanism.jpg`,
            width: "275",
            height: "320",
            author: "Пелевин В.",
            name: "Transhumanism inc.",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            stars: "3.9",
            link: "#",
            pages: "608"
        }
    ];