include about-data

section.about
    .container  
        h2.about__title.section__title О нас
        ul.about__list
            each slogan in slogans
            li.about__item
                .about__wrapper
                    h3.about__heading #{slogan.heading}
                    p.about__text #{slogan.text}