- 
    var books = [
        {
            img: `${pathContentImg}a-life-of-pleasure.jpg`,
            width: "275",
            height: "320",
            author: "Палиенко А.",
            name: "Жизнь в удовольствие",
            description: "Автор собрал в этой книге все свои знания, актуальные в современном мире",
            stars: "3.5",
            link: "#",
            pages: "208"
        },
        {
            img: `${pathContentImg}book-kingdoms.jpg`,
            width: "275",
            height: "320",
            author: "Несбё Ю.",
            name: "Королевство",
            description: "В норвежском городке, затерянном в горах, течет сонная, мирная жизнь",
            stars: "4.8",
            link: "#",
            pages: "576"
        },
        {
            img: `${pathContentImg}book-transhumanism.jpg`,
            width: "275",
            height: "320",
            author: "Пелевин В.",
            name: "Transhumanism inc.",
            description: "В будущем богатые люди смогут отделить свой мозг от старящегося тела",
            stars: "3.9",
            link: "#",
            pages: "608"
        },
        {
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            width: "275",
            height: "320",
            author: "Санд И.",
            name: "Чувство стыда",
            description: "Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими",
            stars: "4.1",
            link: "#",
            pages: "170"
        }
    ];